# flyctl launch added from .elixir_ls/.gitignore
.elixir_ls/**/*

# flyctl launch added from .gitignore
# The directory Mix will write compiled artifacts to.
_build

# If you run "mix test --cover", coverage assets end up here.
cover

# The directory Mix downloads your dependencies sources to.
deps

# Where 3rd-party dependencies like ExDoc output generated docs.
doc

# Ignore .fetch files in case you like to edit your project deps locally.
.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
**/erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
**/*.ez

# Ignore package tarball (built via "mix hex.build").
**/openats-*.tar

# Ignore assets that are produced by build tools.
priv/static/assets

# Ignore digested assets cache.
priv/static/cache_manifest.json

# In case you use Node.js/npm, you want to ignore these.
**/npm-debug.log
assets/node_modules


# flyctl launch added from deps/elixir_sense/.gitignore
# The directory Mix will write compiled artifacts to.
deps/elixir_sense/_build

# If you run "mix test --cover", coverage assets end up here.
deps/elixir_sense/cover

# The directory Mix downloads your dependencies sources to.
deps/elixir_sense/deps

# Where 3rd-party dependencies like ExDoc output generated docs.
deps/elixir_sense/doc

# If the VM crashes, it generates a dump, let's ignore it too.
deps/elixir_sense/**/erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
deps/elixir_sense/**/*.ez

deps/elixir_sense/**/.elixir_ls
deps/elixir_sense/**/.vscode
