.dropdown {
  position: relative;
  display: flex;
  align-items: center;
}

.dropdown .dropdown__content {
  position: absolute;
  visibility: hidden;
  display: none;
  opacity: 1;
  top: 100%;
  right: 0;
  min-width: 170px;
  padding: 10px 0;
  background-color: var(--element-bg-colour);
  border-radius: 4px;
  box-shadow: var(--element-shadow);
}

.dropdown .dropdown__content a {
  display: block;
  padding: 10px 20px;
}

.dropdown .dropdown__content a:hover {
  color: #e67635;
}

.dropdown:hover .dropdown__content {
  visibility: visible;
  opacity: 1;
  display: block;
}
